html,
body {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  padding: 0;
  background: #333333;
  color: #fefefe;
  height: 100%;
}

#app {
  height: 100%;
}

a {
  color: #fefefe;
}

.clickable {
  cursor: pointer;

  &:hover {
    opacity: 0.7;
  }

  &:active {
    position: relative;
    opacity: 0.6;
    top: 1px;
  }
}

.shadow {
  box-shadow: 0px 1px 6px 2px #00000055;
}
